<section id="contact" class="addendum-format">

  <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">Our Partners</h2>
      <hr class="primary">
      <!-- <p>ncjkwebjvbejvjkwbvhevjcakhbdjkvbdjbve</p> -->
  </div>

    <div class="container">
        <div>
            <a href="https://www.amnesty.org/en/">
              <img class="img-responsive center-block contact-pic" href="https://www.amnesty.org/en/" src="../img/ai_logo.jpg" height="90px" width="200px">
            </a>
        </div>

        <div>
            <a href="https://www.uzh.ch/en.html">
              <img class="img-responsive center-block contact-pic" src="../img/uzh_logo.png" height="100px" width="250px">
            </a>
        </div>

<!--

        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
-->


</section>
