<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Police Violence in Kenia</h1>
            <hr>
            <p>
              Fighting crime and ensuring security are among the most important tasks for police forces around the world.
              However, in a lot of countries, police forces constantly cross their legal authority. <br>
              In Kenya, the police force is associated with corruption, complicity with criminals, and human rights violations.
              Between the years 2012 to 2016 alone, 206 cases of police violence were reported in Kenya by human rights organisations, newspapers and other independent agencies.
              But how can this excessive police violence be explained? And who are the victims? </p>
            </p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
