<section id="portfolio" class="addendum-format">

  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Team</h2>
    <hr class="primary">
  </div>

  <div class="container-fluid" style="padding-bottom">
      <div class="row no-gutter">
          <div class="col-lg-2 col-sm-2 col-md-offset-1">
              <a class="portfolio-box">
                  <img src="img/portfolio/Chantal2.png" class="img-responsive img-portfolio" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Chantal Marquart
                          </div>
                          <div class="project-category text-faded">
                            -Coding <br> -Research <br> -Storytelling
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-2 col-sm-2">
              <a class="portfolio-box">
                  <img src="img/portfolio/Nat1.png" class="img-responsive img-portfolio" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Natalie Wenger
                          </div>
                          <div class="project-category text-faded">
                            -Media and Organisation Work <br> -Coding <br> -Storytelling
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-2 col-sm-2">
              <a class="portfolio-box">
                  <img src="img/portfolio/Gaby1.png" class="img-responsive img-portfolio" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Gabriela Morillo
                          </div>
                          <div class="project-category text-faded">
                            -... <br> -... <br> -...
                          </div>
                      </div>
                  </div>
              </a>
          </div>
        <div class="col-lg-2 col-sm-2">
            <a class="portfolio-box">
                <img src="img/portfolio/Pat1.png" class="img-responsive img-portfolio" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                          Patrik Kess
                        </div>
                        <div class="project-category text-faded">
                          -Coding <br> -Visualizations <br> -Storytelling
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-2">
            <a class="portfolio-box">
                <img src="img/portfolio/Luc1.png" class="img-responsive img-portfolio" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                          Lucien Baumgartner
                        </div>
                        <div class="project-category text-faded">
                          -Data Work <br> -Statistics <br> -Web Development
                        </div>
                    </div>
                </div>
            </a>
        </div>
      </div>
    </div>
</section>
