<section id="support" class="addendum-format">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Support</h2>
    <hr class="primary">
  </div>

  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-2 col-sm-2 col-lg-offset-4">
          <a class="portfolio-box">
              <img src="img/portfolio/Anita1.png" class="img-responsive img-portfolio" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-name">
                        Patrik Kess
                      </div>
                      <div class="project-category text-faded">
                        -Coding <br> -Visualizations <br> -Storytelling
                      </div>
                  </div>
              </div>
          </a>
        </div>

        <div class="col-lg-2 col-sm-2">
          <a class="portfolio-box">
              <img src="img/portfolio/Nils1.png" class="img-responsive img-portfolio" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-name">
                        Lucien Baumgartner
                      </div>
                      <div class="project-category text-faded">
                        -Data Work <br> -Statistics <br> -Web Development
                      </div>
                  </div>
              </div>
          </a>
        </div>

    </div>
  
</section>
